body {
  background: #FFF;
  min-width: 768px;
}
footer {
  margin: 0 auto;
  text-align: center;
}
a:link, a:visited {
  color: #00455c;
}
a:hover {
  color: #E30871;
}
.noPadding {
  padding: 0;
}
.noMargin {
  margin: 0;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.disabled {
  cursor: not-allowed;
  background: #9F9F9F;
}
.navbar-nav li button {
  margin-top: 1ch;
}
#texto {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 500px;
  text-align: left;
  border: none;
  background: #FFFCAA;
  font-family: sans-serif;
  font-size: 18px;
  padding: 2ch;
  resize: none;
}
.heart {
  color: #E30871;
}